<ng-container *ngIf="url === '/welcome'">
  <h1>Welcome to <span style="font-style: italic; text-decoration: underline;">playground-primeng</span></h1>
  <p>This project use: <span style="font-weight: bold;">PrimeNG</span> Design System / Component Library </p>
  <h4>Available pages (playgrounds):</h4>
</ng-container>


<div class="simple-nav">
  <p-button *ngIf="url !== '/welcome'" routerLink="welcome" label="Back"></p-button>
  <ng-container>
    <p-button routerLink="card" routerLinkActive="active" label="Card Component"></p-button>
    <p-button routerLink="button" routerLinkActive="active" label="Button Component"></p-button>
    <p-button routerLink="dropdown" routerLinkActive="active" label="Dropdown Component"></p-button>
    <p-button routerLink="content-projection" routerLinkActive="active" label="Content projection"></p-button>
  </ng-container>
  
</div>

<pre><code [highlight]="code" [languages]="['typescript']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>

<router-outlet></router-outlet>